:root {
    /* Bingo Colores */
    --background-color: #f0d6eb; /* Background color */
    --header-color: #cb7dbb; /* Header background color */
    --header-text-color: #ffffff; /* Header text color */
    --table-color: #fff8e1; /* Table background color */
    --cell-color: #ffee58; /* Cell background color */
    --cell-text-color: #333333; /* Cell text color */
    --highlight-color: #bd4e9e; /* Highlight color on hover */
}

body {
    width: 100%; /* Utiliza el 100% del ancho de la ventana */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cell-text-color);
    background-color: var(--background-color);
    font-size: 16px;
}

#bg-image {
    width: 100%;
    height: 50vh; /* Ajusta la altura al 100% de la ventana gráfica del navegador */
    margin: 0; /* Elimina los márgenes predeterminados del encabezado */
    background-image: url('Bingo_img.png');
    background-size: 40% auto; /* Ajusta el tamaño de la imagen al 50% del ancho y auto de alto */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center top; /* Ajusta la imagen en la parte superior del contenedor */
    background-attachment: fixed; /* Fija la imagen de fondo para que se mantenga en su lugar al desplazarse */
}








table {
    background-color: var(--table-color);
    width: 550px; /* Aumenta el ancho de la tabla */
    height: 450px; /* Aumenta la altura de la tabla */
    padding: 20px;
    border-radius: 25px;
    border-style: solid;
    border-collapse: collapse;
    margin-top: 20px; /* Agrega margen superior para centrar la tabla */
}

.caja {
    width: 90px;
    height: 80px;
    margin: 15px;
    text-align: center;
    background-color: var(--cell-color);
    border-radius: 100px;
    display: flex;
}

.colo1 {
    background-color: var(--highlight-color);
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    gap: 19px;
}

.column {
    width: 50%;
    background-color: var(--header-color);
}

#revision:hover {
    background-color: var(--highlight-color);
}

.alerta:hover {
    background-color: var(--highlight-color);
}

th {
    width: 100px;
    text-align: right;
    padding: 15px 10px 20px 10px;
    border-style: solid;
    background-color: var(--header-color);
}

td {
    text-align: center;
    border-style: solid;
    padding: 10px;
}

td:hover{
    background-color:  rgb(235, 163, 235);
    color: rgb(0, 0, 0);
    border-style: solid;
    border-color: mediumorchid ;
}
